.smallcard-bg:nth-child(odd){
    background: #FA6C9C;
    margin: 0;
}
.smallcard-bg:nth-child(){
    background: #EE64E4;

    
}
.smallcard-bg:nth-child(even){
    background: #EEAF32;

}

.anim-cir1{
    animation: one 5s 1s infinite alternate-reverse linear;
}

.anim-cir2{
    animation: two 4s infinite 2s infinite alternate-reverse linear;
}
.anim-cir3{
    animation: three 3s infinite 3s infinite reverse linear;
}
@keyframes one {
    to{

    }
    from{
        transform: scale(1.1);

    }
    
}
@keyframes two {
    to{

    }
    from{
        transform: scale(1.1);

    }
    
}
@keyframes three {
    to{

    }
    from{
        transform: scale(1.1);

    }
    
}
